@model IEnumerable<WebApplication2.Models.報表>

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料報表</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶銀行帳號數量)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶聯絡人數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶銀行帳號數量)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
